body {
    background-color: #242424;
    height: 100%;
}

/*---------- Buttons ----------*/
.link-button .icon {
    width: 120px;
    height: 120px;
    border: none;
    padding: 5px;
    border-radius: 20%;
    -webkit-transition: transform 0.2s;
}
.link-button .icon:hover{
    -webkit-transition: transform 0.2s;
    transform: scale(1.2);
}
.link-button .icon:active {
    -webkit-transition: transform 0.2s;
    transform: scale(0.8);
}
/*---------- Buttons ----------*/

.icons {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}
.icon-row
{
    display: inline-block;
}
a, a:active, a:focus {
    outline: none;
}

.version{
    position: absolute;
    bottom: 0;
    left: 50%;
}
.version, p{
    color: white;
    font-size: 10px;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;

}
